
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="content-type"
        content="text/html"; charset="utf-8">

    </head>
    <body>
     
            <form action="./logar" method="post" accept-charset="utf-8">

                <label for="nome">E-mail:</label>
                
                <input type="email" name="email" id="email" valeu=""/>
                
                    <label for="text">Senha:</label>
                
                <input type="password" name="senha" id="senha" valeu=""/>
                   
                
                <input id="btnEnviar"  type="submit" value="Adicionar">

            </form>
        <a href="/">Home</a>
    </body>
</html>